Repository uchicago-capp-30320/ShoulderToShoulder, pull requests merged in 2024-05, with the labels that each got.

#87 Event creation page
  backend/poetry.lock
  backend/pyproject.toml
  backend/shoulder/gis/__init__.py
  backend/shoulder/gis/gis_module.py
  backend/shoulder/gis/gis_module_tests.py
  backend/shoulder/s2s/db_models/event.py
  backend/shoulder/s2s/db_models/user_events.py
  backend/shoulder/s2s/migrations/0009_event_description.py
  backend/shoulder/s2s/migrations/0010_event_hobbytype.py
  backend/shoulder/s2s/migrations/0011_rename_hobbytype_event_hobby_type_event_created_by.py
  backend/shoulder/s2s/migrations/0012_alter_userevents_user_rating.py
  backend/shoulder/s2s/migrations/0013_event_zipcode.py
  backend/shoulder/s2s/views.py
  frontend/s2s/src/app/_guards/auth.guard.ts
  frontend/s2s/src/app/_helpers/location.ts
  frontend/s2s/src/app/_helpers/preferences.ts
  frontend/s2s/src/app/_helpers/scenario.ts
  frontend/s2s/src/app/_interceptors/interceptor.ts
  frontend/s2s/src/app/_models/calendar.ts
  frontend/s2s/src/app/_models/event.ts
  frontend/s2s/src/app/_models/password-change.ts
  frontend/s2s/src/app/_models/user.ts
  frontend/s2s/src/app/_services/auth.service.ts
  frontend/s2s/src/app/_services/event.service.spec.ts
  frontend/s2s/src/app/_services/event.service.ts
  frontend/s2s/src/app/_services/onboarding.service.ts
  frontend/s2s/src/app/_services/profile.service.ts
  frontend/s2s/src/app/app-routing.module.ts
  frontend/s2s/src/app/app.module.ts
  frontend/s2s/src/app/event-creation/event-creation.component.css
  frontend/s2s/src/app/event-creation/event-creation.component.html
  frontend/s2s/src/app/event-creation/event-creation.component.spec.ts
  frontend/s2s/src/app/event-creation/event-creation.component.ts
  frontend/s2s/src/app/onboarding/onboarding.component.ts
  frontend/s2s/src/app/profile-overview/profile-overview.component.html
  frontend/s2s/src/app/profile-settings/profile-settings.component.ts
  frontend/s2s/src/app/profile/profile.component.ts
  frontend/s2s/src/styles.css
Labels: Frontend Team

#98 Implement suggestion service
  backend/poetry.lock
  backend/pyproject.toml
  backend/shoulder/ml/ml/train.py
  backend/shoulder/s2s/db_models/user_events.py
  backend/shoulder/s2s/migrations/0001_initial.py
  backend/shoulder/s2s/migrations/0002_remove_profile_profile_picture.py
  backend/shoulder/s2s/migrations/0003_profile_profile_picture.py
  backend/shoulder/s2s/migrations/0004_alter_profile_profile_picture.py
  backend/shoulder/s2s/migrations/0005_alter_profile_profile_picture.py
  backend/shoulder/s2s/migrations/0006_alter_profile_profile_picture.py
  backend/shoulder/s2s/migrations/0007_remove_event_event_id_alter_event_max_attendees_and_more.py
  backend/shoulder/s2s/migrations/0008_rename_address_event_address1_event_address2_and_more.py
  backend/shoulder/s2s/migrations/0009_event_description.py
  backend/shoulder/s2s/migrations/0010_event_hobbytype.py
  backend/shoulder/s2s/migrations/0011_rename_hobbytype_event_hobby_type_event_created_by.py
  backend/shoulder/s2s/migrations/0012_alter_userevents_user_rating.py
  backend/shoulder/s2s/migrations/0013_event_zipcode.py
  backend/shoulder/s2s/migrations/0014_availability_day_of_week_availability_hour.py
  backend/shoulder/s2s/migrations/0014_panelevent_panelscenario_paneluserpreferences.py
  backend/shoulder/s2s/migrations/0015_alter_availability_unique_together_and_more.py
  backend/shoulder/s2s/migrations/0015_remove_panelevent_dist_within_10mi_and_more.py
  backend/shoulder/s2s/migrations/0016_delete_calendar.py
  backend/shoulder/s2s/migrations/0016_panelevent_event_id.py
  backend/shoulder/s2s/migrations/0017_delete_eventsuggestion.py
  backend/shoulder/s2s/migrations/0018_merge_20240510_1815.py
  backend/shoulder/s2s/views.py
  frontend/s2s/src/app/_models/event.ts
  frontend/s2s/src/app/_models/suggestions.ts
  frontend/s2s/src/app/_services/suggestion.service.ts
  frontend/s2s/src/app/app.module.ts
  frontend/s2s/src/app/event-creation/event-creation.component.html
  frontend/s2s/src/app/event-creation/event-creation.component.ts
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.css
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.html
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.spec.ts
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.ts
  frontend/s2s/src/app/onboarding/onboarding.component.html
  frontend/s2s/src/app/onboarding/onboarding.component.ts
  frontend/s2s/src/app/profile-settings/profile-settings.component.html
  frontend/s2s/src/app/profile-settings/profile-settings.component.ts
  frontend/s2s/src/app/profile/profile.component.html
Labels: Frontend Team

#100 Events display
  backend/shoulder/s2s/db_models/user_events.py
  backend/shoulder/s2s/migrations/0002_alter_userevents_user_rating.py
  backend/shoulder/s2s/migrations/0003_alter_userevents_user_rating.py
  backend/shoulder/s2s/views.py
  frontend/s2s/src/app/_models/event.ts
  frontend/s2s/src/app/_services/event.service.ts
  frontend/s2s/src/app/app.module.ts
  frontend/s2s/src/app/event-creation/event-creation.component.css
  frontend/s2s/src/app/event-creation/event-creation.component.html
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.html
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.ts
  frontend/s2s/src/app/profile-overview/profile-overview.component.css
  frontend/s2s/src/app/profile-overview/profile-overview.component.html
  frontend/s2s/src/app/profile-overview/profile-overview.component.ts
  frontend/s2s/src/styles.css
Labels: Frontend Team

#88 Home, About, and Contact Page
  backend/shoulder/ShoulderToShoulder/settings.py
  backend/shoulder/s2s/db_models/panel_user_preferences.py
  backend/shoulder/s2s/migrations/0002_alter_userevents_user_rating 2.py
  backend/shoulder/s2s/migrations/0003_alter_userevents_user_rating 2.py
  backend/shoulder/s2s/migrations/0004_merge_20240516_0054.py
  frontend/s2s/src/app/about-us/about-us.component.css
  frontend/s2s/src/app/about-us/about-us.component.html
  frontend/s2s/src/app/about-us/about-us.component.spec.ts
  frontend/s2s/src/app/about-us/about-us.component.ts
  frontend/s2s/src/app/app-routing.module.ts
  frontend/s2s/src/app/app.module.ts
  frontend/s2s/src/app/availability-display/availability-display.component.ts
  frontend/s2s/src/app/contact-us/contact-us.component.css
  frontend/s2s/src/app/contact-us/contact-us.component.html
  frontend/s2s/src/app/contact-us/contact-us.component.spec.ts
  frontend/s2s/src/app/contact-us/contact-us.component.ts
  frontend/s2s/src/app/footer/footer.component.html
  frontend/s2s/src/app/homepage/homepage.component.css
  frontend/s2s/src/app/homepage/homepage.component.html
  frontend/s2s/src/app/homepage/homepage.component.ts
  frontend/s2s/src/app/log-in/log-in.component.html
  frontend/s2s/src/app/navbar/navbar.component.ts
  frontend/s2s/src/app/signup-page/signup-page.component.html
  frontend/s2s/src/assets/dhs_loneliness.png
  frontend/s2s/src/assets/group.png
  frontend/s2s/src/assets/group2.png
  frontend/s2s/src/assets/team_members/aicha.jpg
  frontend/s2s/src/assets/team_members/chanteria.jpg
  frontend/s2s/src/assets/team_members/darren.jpg
  frontend/s2s/src/assets/team_members/ethan.jpg
  frontend/s2s/src/assets/team_members/kate.jpg
  frontend/s2s/src/assets/team_members/sarah.jpg
Labels: Frontend Team

#112 Add back backend changes + update frontend
  CODEOWNERS.md
  backend/ShoulderToShoulder/ShoulderToShoulder/__init__.py
  backend/ShoulderToShoulder/ShoulderToShoulder/asgi.py
  backend/ShoulderToShoulder/ShoulderToShoulder/settings.py
  backend/ShoulderToShoulder/ShoulderToShoulder/urls.py
  backend/ShoulderToShoulder/ShoulderToShoulder/wsgi.py
  backend/ShoulderToShoulder/manage.py
  backend/ShoulderToShoulder/s2s/__init__.py
  backend/ShoulderToShoulder/s2s/admin.py
  backend/ShoulderToShoulder/s2s/apps.py
  backend/ShoulderToShoulder/s2s/db_models/__init__.py
  backend/ShoulderToShoulder/s2s/db_models/event.py
  backend/ShoulderToShoulder/s2s/db_models/group.py
  backend/ShoulderToShoulder/s2s/db_models/hobby.py
  backend/ShoulderToShoulder/s2s/db_models/user.py
  backend/ShoulderToShoulder/s2s/db_models/useradmin.py
  backend/ShoulderToShoulder/s2s/management/commands/hobbies_m.py
  backend/ShoulderToShoulder/s2s/management/migration_files/hobbies.csv
  backend/ShoulderToShoulder/s2s/migrations/0001_initial.py
  backend/ShoulderToShoulder/s2s/migrations/0002_remove_hobby_description.py
  backend/ShoulderToShoulder/s2s/migrations/__init__.py
  backend/ShoulderToShoulder/s2s/serializers.py
  backend/ShoulderToShoulder/s2s/tests.py
  backend/ShoulderToShoulder/s2s/urls.py
  backend/ShoulderToShoulder/s2s/views.py
  backend/shoulder/ShoulderToShoulder/settings.py
  backend/shoulder/s2s/db_models/event.py
  backend/shoulder/s2s/db_models/panel_events.py
  backend/shoulder/s2s/db_models/profile.py
  backend/shoulder/s2s/views.py
  backend/shoulder/tests/test_views.py
  frontend/s2s/src/app/_helpers/preferences.ts
  frontend/s2s/src/app/_models/event.ts
  frontend/s2s/src/app/_models/suggestions.ts
  frontend/s2s/src/app/event-creation/event-creation.component.css
  frontend/s2s/src/app/event-creation/event-creation.component.html
  frontend/s2s/src/app/event-creation/event-creation.component.ts
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.html
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.ts
  frontend/s2s/src/app/profile-overview/profile-overview.component.html
  frontend/s2s/src/styles.css
Labels: Backend Team, Frontend Team

#103 Setting Up Settings for AWS
  .gitignore
  backend/shoulder/ShoulderToShoulder/settings.py
  backend/shoulder/ShoulderToShoulder/urls.py
  backend/shoulder/config/gunicorn/dev.py
  frontend/s2s/src/app/app-routing.module.ts
  frontend/s2s/src/environments/environment.prod.ts
Labels: Architecture

#101 User coordinates
  backend/shoulder/gis/gis_module.py
  backend/shoulder/ml/ml/recommendation.py
  backend/shoulder/ml/ml/train.py
  backend/shoulder/s2s/db_models/onboarding.py
  backend/shoulder/s2s/db_models/user_events.py
  backend/shoulder/s2s/migrations/0002_onboarding_latitude_onboarding_longitude.py
  backend/shoulder/s2s/views.py
  frontend/s2s/angular.json
  frontend/s2s/src/app/_models/suggestions.ts
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.html
  frontend/s2s/src/app/event-suggestion/event-suggestion.component.ts
Labels: Backend Team

#105 Scripting User Emails
  backend/poetry.lock
  backend/pyproject.toml
  backend/shoulder/ShoulderToShoulder/settings.py
  backend/shoulder/ml/ml/train.py
  backend/shoulder/s2s/management/commands/send_email_m.py
  backend/shoulder/s2s/management/commands/send_event_email_m.py
  backend/shoulder/s2s/management/commands/send_weekly_email_m.py
  backend/shoulder/s2s/views.py
Labels: Backend Team
